
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/playwright/
logs/

# Dashboard
dashboard/node_modules/
dashboard/frontend/node_modules/
dashboard/frontend/dist/
dashboard/data/
